
  <!-- Barre d’actions en haut -->
  <div class="container m-b-20" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="end" fxLayoutGap="2%" *ngIf="prospectData?.status === 1" aria-label="Actions Prospect">
    <button mat-raised-button color="primary" (click)="accept()" aria-label="Accepter le prospect">
      <fa-icon icon="cog" class="icon" aria-hidden="true"></fa-icon>
      {{ 'labels.buttons.Accept Prospect' | translate }}
    </button>

    <button mat-raised-button color="warn" (click)="reject()" aria-label="Rejeter le prospect">
      <fa-icon icon="trash" class="icon" aria-hidden="true"></fa-icon>
      {{ 'labels.buttons.Reject' | translate }}
    </button>
  </div>

  <div class="container">
  <!-- Carte Profil -->
  <mat-card>
    <mat-card-content class="profile-content ">
      <!-- Image -->
      <div class="image-area" aria-label="Profile image" *ngIf="prospectImage || defaultPlaceholder">
        <ng-container *ngIf="isImageLoading; else imageLoaded">
          <div class="image-spinner">
            <mat-progress-spinner mode="indeterminate" diameter="40"></mat-progress-spinner>
          </div>
        </ng-container>
        <ng-template #imageLoaded>
          <img [src]="prospectImage || defaultPlaceholder" alt="Profil image" />
        </ng-template>
      </div>

      <!-- Détails -->
      <div class="lines-area" fxLayout="column" fxFlex>

        <!-- status -->
        <div class="line" >
          <span class="label" >{{ 'labels.inputs.Status' | translate }}</span>
          <span class="value">{{ statusLabel | translate }}</span>
        </div>
        
        <!-- Première ligne: Prénom -->
        <div class="line" *ngIf="prospectData?.firstname">
          <span class="label">{{ 'labels.inputs.First Name' | translate }}</span>
          <span class="value">{{ prospectData.firstname }}</span>
        </div>

        <!-- 2e ligne: Middle Name (si présent) -->
        <div class="line" *ngIf="prospectData?.middlename">
          <span class="label">{{ 'labels.inputs.Middle Name' | translate }}</span>
          <span class="value">{{ prospectData.middlename }}</span>
        </div>

        <!-- 3e ligne: Last Name -->
        <div class="line" *ngIf="prospectData?.lastname">
          <span class="label">{{ 'labels.inputs.Last Name' | translate }}</span>
          <span class="value">{{ prospectData.lastname }}</span>
        </div>

        <!-- Email -->
        <div class="line" *ngIf="prospectData?.emailAddress">
          <span class="label">{{ 'labels.inputs.Email' | translate }}</span>
          <span class="value">{{ prospectData.emailAddress }}</span>
        </div>

        <!-- Mobile -->
        <div class="line" *ngIf="prospectData?.mobileNo">
          <span class="label">{{ 'labels.inputs.Mobile No' | translate }}</span>
          <span class="value">{{ prospectData.mobileNo }}</span>
        </div>

        <!-- Address -->
        <div class="line" *ngIf="prospectData?.address">
          <span class="label">{{ 'labels.inputs.Address' | translate }}</span>
          <span class="value">{{ prospectData.address }}</span>
        </div>

        <!-- Date of birth -->
        <div class="line" >
          <span class="label">{{ 'labels.inputs.Date of birth' | translate }}</span>
          <span class="value">{{ dateOfBirthLabel }}</span>
        </div>

        <!-- Gender -->
        <div class="line" >
          <span class="label">{{ 'labels.inputs.Gender' | translate }}</span>
          <span class="value">{{ genderDescriptionLabel | translate }}</span>
        </div>

        <!-- createdAt -->
        <div class="line" >
          <span class="label">{{ 'labels.inputs.Created At' | translate }}</span>
          <span class="value">{{ createdAtLabel }}</span>
        </div>

        <!-- acceptedAt -->
        <div class="line" *ngIf="prospectData?.acceptedAt" >
          <span class="label">{{ 'labels.inputs.Accepted At' | translate }}</span>
          <span class="value">{{ acceptedAtLabel }}</span>
        </div>

        <!-- clientPath -->
         <div class="line" *ngIf="prospectData?.clientId">
  <span class="label" style="cursor: pointer;" [routerLink]="clientPath">{{ 'labels.inputs.Client Path' | translate }}</span>
  <span class="value" style="cursor: pointer;" [routerLink]="clientPath">
  /clients/{{ prospectData?.clientId }}/
</span>
</div>

        

        <!-- Bouton Back -->
        <div class="back-btn" >
          <button mat-stroked-button color="primary" [routerLink]="['../']">
            {{ 'labels.buttons.Back' | translate }}
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>