<div class="card-wrapper" fxLayout="column" fxLayoutAlign="start stretch">
  <!-- Barre d’actions en haut -->
  <div class="toolbar" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="12px" *ngIf="prospectData.status === 1">
    <button mat-raised-button color="primary" (click)="accept()">
      <fa-icon icon="cog" class="icon"></fa-icon>
      {{ 'labels.buttons.Accept Prospect' | translate }}
    </button>

    <button mat-raised-button color="warn" (click)="reject()">
      <fa-icon icon="trash" class="icon"></fa-icon>
      {{ 'labels.buttons.Reject' | translate }}
    </button>
  </div>

  <!-- Carte Profil -->
  <mat-card class="profile-card">
    <mat-card-content class="profile-content" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="24px">
      <!-- Image -->
      <div class="image-area" aria-label="Profile image">
        <ng-container *ngIf="isImageLoading; else imageLoaded">
          <div class="image-spinner">
            <mat-progress-spinner mode="indeterminate" diameter="40"></mat-progress-spinner>
          </div>
        </ng-container>
        <ng-template #imageLoaded>
          <img [src]="prospectImage ? prospectImage : defaultPlaceholder" alt="Profile image" />
        </ng-template>
      </div>

      <!-- Détails -->
      <div class="details-area" fxLayout="column" fxFlex>
        <div class="row-grid" fxLayout="row" fxLayoutWrap="wrap" fxLayoutGap="32px 48px">
          <div class="detail">
            <div class="label">{{ 'labels.inputs.First Name' | translate }}</div>
            <div class="value">{{ prospectData.firstname }}</div>
          </div>

          <div class="detail" *ngIf="prospectData.middlename">
            <div class="label">{{ 'labels.inputs.Middle Name' | translate }}</div>
            <div class="value">{{ prospectData.middlename }}</div>
          </div>

          <div class="detail" *ngIf="prospectData.lastname">
            <div class="label">{{ 'labels.inputs.Last Name' | translate }}</div>
            <div class="value">{{ prospectData.lastname }}</div>
          </div>

          <div class="detail" *ngIf="prospectData.emailAddress">
            <div class="label">{{ 'labels.inputs.Email' | translate }}</div>
            <div class="value">{{ prospectData.emailAddress }}</div>
          </div>

          <div class="detail" *ngIf="prospectData.mobileNo">
            <div class="label">{{ 'labels.inputs.Mobile No' | translate }}</div>
            <div class="value">{{ prospectData.mobileNo }}</div>
          </div>

          <div class="detail" *ngIf="prospectData.emailAddress">
            <div class="label">{{ 'labels.inputs.Address' | translate }}</div>
            <div class="value">{{ prospectData.address }}</div>
          </div>

          <div class="detail" *ngIf="prospectData.emailAddress">
            <div class="label">{{ 'labels.inputs.Date of birth' | translate }}</div>
            <div class="value">{{ prospectData.dateOfBirth }}</div>
          </div>

          <div class="detail" >
            <div class="label">{{ 'labels.inputs.Gender' | translate }}</div>
            <div class="value">{{ genderDescriptionLabel }}</div>
          </div>
        </div>

        <div class="back-btn" >
          <button mat-stroked-button color="primary" [routerLink]="['../']">
            {{ 'labels.buttons.Back' | translate }}
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>